---
import ListProducts from "../components/ListProducts.astro";
import { products } from "../data/products";
import Layout from "../layouts/Layout.astro";
const { product } = Astro.params;
const info = products.find((item) => item.id === product);
if (!info) {
  return Astro.redirect("/404");
}
---

<Layout title="Welcome">
  <main class="pb-4 p-4 xl:p-0 lg:max-w-5xl mx-auto">
    <section class="flex flex-col md:flex-row items-center md:gap-8 mt-10">
      <img
        class="w-full object-cover md:w-1/2 rounded h-[300px]"
        src={info.image}
        alt={info.description}
      />
      <div class="pt-4 flex flex-col gap-2">
        <h1 class="text-2xl font-semibold">{info.name}</h1>
        <span class="text-gray-800 text-xl font-bold">${info.price}</span>
        <p class="text-lg font-medium">{info.description}</p>
      </div>
    </section>
    <section class="p-0 mb-10">
      <ListProducts
        title="Productos similares"
        listProducts={products.filter(
          (item) => item.category === info.category
        )}
      />
    </section>
  </main>
</Layout>
