---
import Card from "../components/Card.astro";
import ListProducts from "../components/ListProducts.astro";
import { products } from "../data/products";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nuevo producto">
  <main class="px-4 pb-4 p-4 xl:p-0 lg:max-w-5xl mx-auto">
    <div
      class="flex flex-col md:flex-row justify-between items-start my-6 gap-4"
    >
      <h1 class="text-2xl font-semibold">Todos los productos</h1>
      <a
        href="/new-product"
        class="bg-blue-600 border-blue-600 border-[1px] text-gray-100 font-medium py-2 px-6 rounded block hover:bg-blue-700 hover:text-gray-100"
      >
        Agregar Producto</a
      >
    </div>
    <ul
      class="grid grid-cols-box-s gap-x-4 gap-y-5 mb-10 justify-center lg:max-w-6xl"
    >
      {
        products.map((item) => (
          <Card
            id={item.id}
            name={item.name}
            price={item.price}
            description={item.description}
            image={item.image}
            category={item.category}
          />
        ))
      }
    </ul>
  </main>
</Layout>
